@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: 'Raleway' ;
    src: url('../fonts/Raleway/Raleway-Regular.woff'), url('../fonts/Raleway/Raleway-Bold.woff'), url('../fonts/Raleway/Raleway-Italic.woff');
}

body {
    width: 1160px;
    padding: 0px 5px 0px 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

header {
    width: 1160px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #782221;
    color: white;
}

header span {
    font-family: 'lato' , sans-serif;
    font-size: 4rem;
}

header h1 {
    font-size: 1rem;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #8f8787;
}

header address {
    width: 100%;
    background-color: #2c1d27;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

header address a {
    padding: 20px 0px 20px 0px;
    flex-basis: 387px;
    text-align: center;
    color: white;
    text-decoration: none;
}

address a:first-of-type {
    padding-left: 50px;
    text-align: start;
}

address a:last-of-type {
    padding-right: 50px;
    text-align: end;
}

main {
    width: 1160px;
    display: flex;
    flex-direction: row;
}

section {
    padding: 0px 20px 0px 20px;
    flex-basis: 67%;
    border-right: thin solid black;
}
section h2 {
    background-color: #dbc2a4;
    border-left: 5px solid #782221;
    font-family: 'Lato', sans-serif;
}
section h3 {
    font-weight: bold;
}

aside {
    flex-basis: 33%;
    background-color: #782221;
}
aside p {
    padding: 0px 20px 0px 20px;
    text-indent: 40px;
    text-align: justify;
    text-justify: inter-word;
    color: white;
}
aside h2 {
    padding-left: 20px;
    background-color: #dbc2a4;
    font-family: 'Lato', sans-serif;
}
aside ul {
    color: white;
}

footer {
    width: 1160px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #782221;
    color: white;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 50PX;
    height: 50px;
    padding: 15px;
}

footer img:hover {
    opacity: 0.5;
}
a:hover {
    text-decoration: underline;
}
header img:hover {
    cursor: zoom-in;
}

.border:hover {
    border-right: 5px solid #782221;
}